<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="pythonnet\runtime;clr_loader\ffi\dlls\amd64;clr_loader\ffi\dlls\x86;_internal\pythonnet\runtime;_internal\clr_loader\ffi\dlls\amd64;_internal\clr_loader\ffi\dlls\x86" />
    </assemblyBinding>
  </runtime>
</configuration>
